.custom_dropdown {
  width: 90%;
  font-size: 14px;
}

.dropdown_header {
  background-color: green;
  color: white;
}

.clear {
  background-color: #233c9e !important;
  border-color: #233c9e !important;
}

.clear:hover {
  background-color: #2f50d4 !important;
}
